<a href="https://colab.research.google.com/github/meghana5757/aasignment1/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(num1, num2):
    return num1 + num2
def subtract(num1, num2):
    return num1 - num2
def multiply(num1, num2):
    return num1 * num2
def divide(num1, num2):
    return num1 / num2
print("please select operation -\n" \
         "1. Add\n" \
         "2.Subtract\n" \
         "3.Multiply\n" \
         "4.Divide\n")
select = int(input("select operations from 1,2,3,4 :"))
number_1 = int(input("Enter first number: "))
number_2 = int(input("Enter second number: "))
if select == 1:
   print(number_1, "+",number_2, "=",add(number_1,number_2))
elif select == 2:
   print(number_1, "-",number_2, "=",subtract(number_1,number_2))
elif select == 3:
   print(number_1,"*",number_2, "=",multiply(number_1,number_2))
elif select == 4:
   print(number_1, "/",number_2, "=",divide(number_1,number_2))
else:
   print("invalid input")

please select operation -
1. Add
2.Subtract
3.Multiply
4.Divide

select operations from 1,2,3,4 :1
Enter first number: 15
Enter second number: 14
15 + 14 = 29

In [ ]:
p = int(input('Enter the principal amount='))
t = int(input('Enter the time in years='))
r = float(input('Enter the interest rate='))
si = p*t*r/100
print('The Simple Intrest is',si)

Enter the principal amount=5000
Enter the time in years=4
Enter the interest rate=7
The Simple Intrest is 1400.0

In [ ]:
r=int(input('Enter the radius ='))
pi=float(input('Enter the value of pi='))
a=pi*r*r
print('The area of circle is=',a)

Enter the radius =5
Enter the value of pi=3.141592
The area of circle is= 78.5398

In [ ]:
#area of triangle
a=float(input('enter first side'))
b=float(input('enter second side'))
c=float(input('enter third side'))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('the area of the triangle is %0.2f'%area)

enter first side2
enter second side4
enter third side5
the area of the triangle is 3.80

In [ ]:
#celsius to fahrenheit
celsius=float(input("enter the temperature in celsius: "))
fahrenheit=(celsius*9/5)+32
print('%2f celsius is: %0.2f fahrenheit'%(celsius,fahrenheit))

enter the temperature in celsius: 32
32.000000 celsius is: 89.60 fahrenheit

In [ ]:
#area of rectangle
width=float(input('enter width of a rectangle: '))
height=float(input('enter the height of a rectangle:'))
area=width*height
print("area of rectangle is:%2f"%area)

enter width of a rectangle: 4
enter the height of a rectangle:2
area of rectangle is:8.000000

In [ ]:
#perimeter of square
s=int(input("side: "))
area=s*s
perimeter=4*s
print("area of square : ",area)
print("perimeter of square: ",perimeter)

side: 4
area of square :  16
perimeter of square:  16

In [ ]:
#circumferences of a circle
import math
radius=float(input("enter the radius of the circle: "))
circumference=2*math.pi*radius
print("circumference of the circle is :%.2f" % circumference)

enter the radius of the circle: 7
circumference of the circle is :43.98

In [ ]:
num1=input('enter first number:')
num2=input('enter second number:')
print("value of num1 before swapping: ",num1)
print("value of num2 before swapping: ",num2)
temp = num1
num1 = num2
num2 = temp
print("value of num1 after swapping: ",num1)
print("value of num2 after swapping: ",num2)

enter first number:67
enter second number:87
value of num1 before swapping:  67
value of num2 before swapping:  87
value of num1 after swapping:  87
value of num2 after swapping:  67